<div class = "container">
    <h1>塚田竜勇孫(つかだたいそん)</h1>
    <%= image_tag('/images/IMG_1194.JPG')%>
    <h2>所属チーム</h2>

    <ul>
        <li>移行チーム(インターン)</li>
    </ul>

    <h2>好きなこと</h2>
    <ul>
        <li>映画鑑賞</li>
        <li>バラエティ番組</li>
        <li>ドライブ</li>
        <li>古着屋巡り</li>
    </ul>
    <h2>SUPER STUDIOをどこで知ったのか</h2>
    <p>「Wantedly」で株式会社SUPER STUDIOの存在を知りました。</p>
    <h2>なぜプログラミングをしようと思ったのか</h2>
    <p>お父さんにプログラミングの魅力を教えてもらったため。最初は挫折してしまったが、大学生になって改めて学習してみたら楽しさを感じたため。</p>
    <h2>プログラミングを通してどんなところを目指すのか</h2>
    <p>多くの人に役に立つサービスの開発に携わりたい。</p>
    <h2>1年後の姿(1年後、自分はこうなっている！)</h2>
    <p>自分一人で様々な開発ができるようになりたい！そしてOSSも作ってみたい！</p>
</div>